<div class="random-movie-main">
    <div class="random-movie-img">
        <img class="random-movie-image-class" src="{{movieImageBackDropPath}}" alt="">
    </div>
    <div class="random-movie-info">
        <h3 class="random-movie-info-text">{{movieTitle}}</h3>
        <h6 class="random-movie-info-text">{{movieReleaseDate}}</h6>
        <h6 class="random-movie-info-text">{{movieVoteAverage}}</h6>
        <h6 class="random-movie-info-text">{{movieVoteCount}}</h6>
        <h6 class="random-movie-info-text overview">Overview</h6>
        <p class="random-movie-info-text overview">{{movieOverview}}</p>
        <button type="button" class="btn btn-outline-light" (click)="goToMovieDetails(movieId)">Go to Tv Series</button>
    </div>


    <!-- {{myMovies.results[0].id | json}} -->
    
   <!--  <img src="https://image.tmdb.org/t/p/w500/kuf6dutpsT0vSVehic3EZIqkOBt.jpg" alt="">

    <ul>
        <li *ngFor="let item of popularMoviesPosterPaths">
            {{item}}
        </li>
    </ul> -->
</div>

<router-outlet></router-outlet>
