.top-rated-movies-main{
    
}

.top-rated-movies-main-title{
    
    margin-top: 20px;
}

.top-rated-movies-main-scroll-list{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card-design{
    margin-right: 10px;
    cursor: pointer;
    width: 12rem; 
    height: 25rem;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}
.title-card-title{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .card-design{
        margin-right: 10px;
        width: 10rem;
        height: 21rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 425px) {

    .card-design{
        margin-right: 10px;
        width: 8rem;
        height: 18rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 0px;
    }
}