.top-rated-movies-main{
    margin-left: 50px;
    margin-right: 50px;
    
}

.top-rated-movies-main-title{
    
    margin-top: 20px;
}

.top-rated-movies-main-scroll-list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.card-design{
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.card-title{
    font-weight: bold;
    font-size: 16px;
}
.card-text{
    font-size: 14px;
}

@media only screen and (max-width: 768px) {

    .card-design{
        margin-right: 10px;
        width: 10rem;
        height: 21rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 425px) {

    .card-design{
        margin-right: 10px;
        width: 10rem;
        height: 21rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 15px;
    }
}
