<app-header></app-header>
<div class="main-body">
<div class="main-container">
<div class="card-design">
    <img class="rounded mx-auto d-block" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/dBOrm29cr7NUrjiDQMTtrTyDpfy.jpg" alt="Card image cap">
    
</div>
</div>
<div class="main-info">
    <div>
        <h2 class="card-title title-card-title">Name</h2>
        <div class="card-body">
            <br>
            <h6 class="card-title title-card-title">Known For</h6>
            <h6 class="card-title">Actor</h6>
            <br>
            <h6 class="card-title title-card-title">Gender</h6>
            <h6 class="card-title">Male</h6>
            <br>
            <h6 class="card-title title-card-title ">Birthday</h6>
            <h6 class="card-title ">09/01/1986</h6>
            <br>
            <h6 class="card-title title-card-title ">Place of Birth</h6>
            <h6 class="card-title ">Santiago, Chile</h6>
          </div>
        <h4 class="biograpy-title">Biography</h4>
        <p>
            José Pedro Balmaceda Pascal (born April 2, 1975) is a Chilean-American actor. After nearly two decades of taking small roles in film and television, Pascal rose to prominence for portraying Oberyn Martell during the fourth season of the HBO fantasy series Game of Thrones (2014) and as Javier Peña in the Netflix crime series Narcos (2015–2017). Since 2019, he has starred as the title character in the Disney+ Star Wars series The Mandalorian and reprised his role in the spin-off series The Book of Boba Fett (2022). Since 2023, he has played Joel in the HBO drama series The Last of Us. He has appeared in the films The Adjustment Bureau (2011), The Great Wall (2016), Kingsman: The Golden Circle (2017), The Equalizer 2 (2018), Triple Frontier (2019), Wonder Woman 1984 (2020), and The Unbearable Weight of Massive Talent (2022).
        </p>
    </div>
    
</div>
</div> 