<app-header></app-header>
<div class="main-body">
<div class="main-container">
<div class="card-design">
    <img class="rounded mx-auto d-block" src="{{castProfilePath}}" alt="Card image cap" style="width: 100%;">
    
</div>
</div>
<div class="main-info">
    <div>
        <h2 class="card-title title-card-title">{{castName}}</h2>
        <div class="card-body">
            <br>
            <h6 class="card-title title-card-title">Known For</h6>
            <h6 class="card-title">{{castKnownForDepartment}}</h6>
            <br>
            <h6 class="card-title title-card-title">Gender</h6>
            <h6 class="card-title">{{castGender}}</h6>
            <br>
            <h6 class="card-title title-card-title ">Birthday</h6>
            <h6 class="card-title ">{{castBirthday}} ({{age}} years old)</h6>
            <br>
            <h6 class="card-title title-card-title ">Place of Birth</h6>
            <h6 class="card-title ">{{castPlaceOfBirth}}</h6>
          </div>
        <h4 class="biograpy-title">Biography</h4>
        <p>
            {{castBiography}}}
        </p>
    </div>
    
</div>
</div> 