<div class="home-main-class">
    <app-header></app-header>
    <app-main-random-tv-series></app-main-random-tv-series>
    <app-top-rated-tv-series></app-top-rated-tv-series>
    <app-popular-tv-series></app-popular-tv-series>
    <app-action-tv-series></app-action-tv-series>
    <app-sci-fic-tv-series></app-sci-fic-tv-series>
    <app-family-tv-series></app-family-tv-series>
    <app-comedy-tv-series></app-comedy-tv-series>
    <app-war-tv-series></app-war-tv-series>
    <app-crime-tv-series></app-crime-tv-series>
    <app-western-tv-series></app-western-tv-series>
    <app-documentary-tv-series></app-documentary-tv-series>
    <app-drama-tv-series></app-drama-tv-series>
</div>
<router-outlet></router-outlet>
