.home-main-class{
    margin-left: 100px;
    margin-right: 100px;
}

.search-box-design{
    position: relative;
}

.search-area{
    top: 50%;
    position: absolute;
    z-index: 1;
    
    padding-left: 100px;
    padding-right: 100px;
}

.search-area-input{
    height: 50px;
}
.input-design{
    width: 500px;
}

.search-area-button{
    height: 40px;
    background-color: #032541;
    color: white;
}

.radio-button{
    margin-right: 20px;

}

input:checked + label{
    margin-right: 20px;
    background-color: #032541;

}

.top-rated-movies-main-title{
    
    margin-top: 20px;
}

.top-rated-movies-main-scroll-list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-design{
    margin-right: 10px;
    cursor: pointer;
    width: 12rem; 
    height: 25rem;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}
.title-card-title{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .home-main-class{
        margin-left: 0px;
        margin-right: 0px;
    }

    .search-area{
        top: 40%;
        
        padding-left: 50px;
        padding-right: 50px;
    }
    .input-design{
        width: 300px;
    }
    
    .card-design{
        margin-right: 10px;
        width: 10rem;
        height: 21rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 425px) {

    .home-main-class{
        margin-left: 0px;
        margin-right: 0px;
    }

    .search-area{
        top: 10%;
        
        padding-left: 20px;
        padding-right: 20px;
    }
    .input-design{
        width: 250px;
    }

    .card-design{
        margin-right: 10px;
        width: 8rem;
        height: 18rem;
    }

    .card-title{
        font-size: 14px;
    }

    .top-rated-movies-main-scroll-list{
        margin-bottom: 0px;
    }
}


