<div class="home-main-class">
<app-header></app-header>
<app-mainrandommovie></app-mainrandommovie>
<app-topratedmovies></app-topratedmovies>
<app-popularmovies></app-popularmovies>
<app-actionmovies></app-actionmovies>
<app-sciencefictionmovies></app-sciencefictionmovies>
<app-familymovies></app-familymovies>
<app-comedymovies></app-comedymovies>
<app-warmovies></app-warmovies>
<app-crimemovies></app-crimemovies>
<app-historymovies></app-historymovies>
<app-documentarymovies></app-documentarymovies>
<app-romanticmovies></app-romanticmovies>
</div>
<router-outlet></router-outlet>
